<footer class="footer">
  <div class="container">
    <div class="footer__blocks">
      <div class="footer__block1">


        <p class="footer__blocks-text">ИП Гончаренко Анастасия Анатольевна</p>
        <p class="footer__blocks-text">ИНН: 344212722922</p>
        <p class="footer__blocks-text">ОГРНИП: 317344300021041</p>






      </div>
      <div class="footer__block2">
        <p class="footer__blocks-text">Skype ID: english_tutor_vlg</p>
        <p class="footer__blocks-text">Phone: +7 960 871 12 17</p>
        <p class="footer__blocks-text">Email: english.tutor.vlg@gmail.com</p>






      </div>
    </div>
  </div>

</footer>



<script src="js/main.min.js"></script>
</body>

</html>